<!doctype html>
<html lang="en">

<head>
    <title></title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'create_receipt' %}">Create Receipt</a>
                </li>
                <li>
                    <a href="{% url 'list_account' %}">Your Accounts</a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">Open a New Account</a>
                </li>
                <li>
                    <a href="{% url 'create_category' %}">Create a New Category</a>
                </li>
                <li>
                    <a href="{% url 'categories_list' %}">Your Category Breakdown</a>
                </li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>


</html>