{% extends 'base.html' %}

{% block content %}

<main>
    <div>
        <h1>My Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for account in account_list %}
                    <td>
                        {{account.name}}
                    </td>
                    <td>
                        {{account.number}}
                    </td>
                    <td>{{account.receipts.all|length}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</main>


{% endblock content %}