{% extends 'base.html' %}
{% block content %}
<main>
    <h1>My Receipts</h1>
    <p><a href="{% url 'create_category' %}">Create Category</a></p>
    <p><a href="{% url 'create_account' %}">Create Account</a></p>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Due Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipt_list %}
            <tr>

                <td>
                    {{receipt.vendor}}
                </td>
                <td>
                    {{receipt.total}}
                </td>
                <td>
                    {{receipt.tax}}
                </td>
                <td>
                    {{receipt.due_date | date:"j/n/y"}}
                </td>
                <td>
                    {{receipt.category}}
                </td>
                <td>
                    {{receipt.account}}
                </td>
            </tr>
            {% endfor receipt_list %}
        </tbody>
    </table>
</main>
{% endblock content %}